In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [2]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [3]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [4]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [5]:
df['a'].unique()

array([1, 2])

In [6]:
df[df['a']<2]

   a  b
0  1  1
2  1  1